.portfolio__btn-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	row-gap: 15px;
	justify-content: start;
	margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
	.portfolio__btn-list {
		justify-content: center;
		margin-bottom: 30px;
	}
	.btn-list__item:first-child {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1200px) {
	.portfolio__btn-list {
		margin-bottom: 50px;
	}
}
.portfolio__btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	cursor: pointer;
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
	background-color: var(--body-third-color);

	padding: 6px 22px;
	border: transparent;
	border-radius: 4px;
	transition: color var(--time-and-function), background-color var(--time-and-function),
		box-shadow var(--time-and-function);

	&:hover,
	&:focus {
		background-color: var(--logo-main-color);
		color: var(--body-main-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.portfolio__card-list {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portfolio__card {
	background-color: var(--body-main-color);
}
.portfolio__link {
	display: block;
	transition: box-shadow var(--time-and-function);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}
.portfolio__header {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);

	margin-bottom: 4px;
}
.portfolio__descr {
	font-size: 16px;
	line-height: 1.88;
	color: var(--main-text-color);
}
.portfolio__card-wrapper {
	border: 1px solid #ececec;
	border-top: none;
	padding: 20px 24px;
}
@media screen and (min-width: 768px) {
	.portfolio__card-wrapper {
		max-width: 354px;
		flex-grow: 1;
	}
	.portfolio__link {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.portfolio__card-wrapper {
		max-width: none;
	}
}

.portfolio__img-wrapper {
	position: relative;
	overflow: hidden;
}
.portfolio__img {
	margin-right: 0;
}
.img__overlay {
	position: absolute;
	top: 0;

	display: block;
	padding: 63px 24px;
	height: 100%;
	width: 100%;
	transform: translate(0, 101%);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;

	transition: transform var(--time-and-function);

	background-color: rgba(33, 150, 243, 0.9);
	color: var(--body-main-color);

	.portfolio__link:hover &,
	.portfolio__link:focus & {
		transform: translate(0, 0);
	}
}
